<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://172.30.37.155:3306/bau</property>
		<property name="connection.username">mysql</property>
		<property name="connection.password">mysql</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="javax.persistence.validation.mode">none</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="connection.pool_size">10</property>
		<!-- Mapping with model class containing annotations -->
		<mapping class="springboot.model.User" />
	</session-factory>
</hibernate-configuration>
